.nav-link {
    margin: 15px;
    color: whitesmoke;
}

.header {
    margin: 20px;
    color: whitesmoke;
}
.index-style {
    color: whitesmoke;
}
.main-index {
    margin: 25px;
    color: whitesmoke;
}
.footer {
    margin: 20px;
    color: whitesmoke;
}